body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}
img {
  max-width: 100%;
  height: auto;
}
body > input[type=radio] {
  display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-light {
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
}
.text-light:hover,
.text-light:focus {
  color: #e84d37;
}
.page-list {
  list-style-type: none;
}
.navigation {
  line-height: 18px;
}
.site-navigation {
  line-height: 30px;
}
.nav-general a:hover,
.nav-general a:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-color: #f7f6f3;
  border-radius: 20px;
}
.nav-general a:active {
  opacity: 0.95;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(94, 94, 94, 0.4);
          box-shadow: inset 0px 2px 1px 0px rgba(94, 94, 94, 0.4);
}
.nav-general li {
  padding-bottom: 10px;
}
.nav-general li:hover span,
.nav-general li:focus span, 
.nav-general li:focus-within span {
  border-bottom: 0;
}
.site-navigation-current,
.site-navigation-current:hover,
.site-navigation-current:focus {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 50px;
}
.site-navigation li {
  position: relative;
}
.text-color {
  color: #323232;
}
.catalog-menu-dropdown {
  padding: 0;
  position: absolute;
  display: none;
  top: 35px;
  left: 0;
  width: 150px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,.4);
          box-shadow: 0 20px 20px rgba(0,0,0,.4);
  z-index: 15;
  overflow: hidden; 
}
.catalog-menu-dropdown li {
  padding-bottom: 0;
}
.menu-link {
  color: black;
  display: block;
  font-weight: 400;
  padding: 10px 20px 15px;
}
.catalog-menu-item-new {
  position: relative;
}
.catalog-menu-item-new:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 7px;
  width: 90%;
  height: 1px;
  background-color: #d1d0ce;
}
.text-strong {
  font-weight: 700;
}
.catalog-menu-dropdown a:hover,
.catalog-menu-dropdown a:focus {
  background-color: #fbded7;
}
.catalog-menu-dropdown a:hover,
.catalog-menu-dropdown a:focus,
.catalog-menu-dropdown a:active {
  border-radius: 0;
}
.catalog-menu-dropdown a:active {
  background-color: #f6b5a5;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.catalog-menu-item .link-current {
  background-color: #d07058;
  color: #ffffff;
}
.text-style {
  font-size: 14px;
  line-height: 16px;
}
.text-medium {
  font-weight: 500;
}
.cart-current {
  color: #343434;
  background-color: #f7f6f3;
}
.telephone-number {
  font-size: 22px;
  line-height: 24px;
}
.catalog-main-title {
  font-size: 35px;
  line-height: 41px;
}
.information {
  background-color: #f5e9d4;
  background-image: url("../img/waffle-background.jpg");
  background-position: center;
  background-repeat: repeat;
}
.text-title {
  font-size: 24px;
  line-height: 30px;
}
.blog {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 15px 0;
  background-repeat: no-repeat;
}
.sweet-mailout {
  color: #5a5a5a;
}
.input-field:hover {
  border: 1px solid #c7c6c5;
}
.input-field:focus {
  border-color: #8fbdec;
}
.button {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background-color: #f06441;
  color: #fefefe;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button:hover,
.button:focus {
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #fefefe;
}
.button:active {
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
          box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  color: #fefefe;
}
.price {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
}
.measure {
  font-size: 22.5px;
  line-height: 25px;
}
.catalog-item-title {
  text-align: center;
  margin: 0px 5px;
  font-size: 16px;
}
.footer-info-item {
  font-size: 13px;
  line-height: 18px;
}
.footer-copyright {
  font-size: 12px;
  line-height: 18px;
}
/* Сеточные стили*/
/*Index*/
.header {
  margin-bottom: 2px;
}
.site-wrapper {
  min-width: 1175px;
  background-color: #849d8f;
  background-image: url("../img/cone-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 15px;
}
.slider {
  position: relative;
  padding-top: 285px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slide {
  display: none;
}
.slide-title {
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.slide-button {
  display: inline-block;
  padding: 10px 45px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50px;
}
.slider-controls {
  position: absolute;
  bottom: 65px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slide {
  display: none;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/cone-1.png");
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/cone-2.png");
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/cone-3.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.flex-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-navigation {
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
.catalog-menu-main:hover .catalog-menu-dropdown,
.catalog-menu-main:focus .catalog-menu-dropdown,
.catalog-menu-main:focus-within .catalog-menu-dropdown {
  display: block; 
}
.site-navigation-item {
  margin-right: 17px;
  padding: 7px 15px;  
}
.underline {
  border-bottom: 1px solid rgba(172, 194, 181, 0.8);
}
.page-list-item {
  position: relative;
}
.page-list-item::before {
  content: "»";
  position: absolute;
  bottom: 16px;
  left: 59px;
  width: 100%;
  height: 1px;
  color: rgb(255, 255, 255);
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;  
}
.user-navigation-item {
  margin-right: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
}
.user-navigation-item:last-child {
  margin-right: 0px;
}
.padding-brother {
  padding: 10px 10px 10px 45px;
}
.padding-brother:hover,
.padding-brother:focus {
  background-color: #f8f7f4;
  border-radius: 20px;
}
.search {
  display: block;
  position: relative;
  width: 31px;
  height: 31px;
  background-color: rgba(255,255,255,.2);
  border-radius: 50%;
  padding: 15px;
  font-size: 0;
  cursor: pointer;
  border-color: transparent;
}
.search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 17px;
  height: 17px;
  background-image: url(../img/zoom.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.search:hover,
.search:focus {
  background-color: #f8f7f4;
}
.search:hover::before,
.search:focus::before {
  background-image: url("../img/zoom-black.svg");
}
.search-menu {
  position: absolute;
  display: none;
  left: -307px;
  top: 38px;
  width: 341px;
  min-height: 65px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,.4);
          box-shadow: 0 20px 20px rgba(0,0,0,.4);
  z-index: 10;
  overflow: hidden;
}
.search-item:hover .search-menu,
.search-item:focus .search-menu,
.search-item:focus-within .search-menu {
  display: block;
}
.search-menu input {
  width: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 15px;
  padding: 10px 13px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(178,178,178,.52);
}
.common-radius {
  border-radius: 20px;
}
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  background-color: rgba(255,255,255,.2);
}
.login::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }
.login:hover::before,
.login:focus::before {
  background-image: url("../img/log-in-icon-black.svg");
}
.login-menu {
  position: absolute;
  display: none;
  left: -190px;
  top: 40px;
  width: 275px;
  min-height: 215px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,.4);
          box-shadow: 0 20px 20px rgba(0,0,0,.4);
  z-index: 15;
  overflow: hidden;
}
.login-menu input {
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 15px;
  padding: 10px 13px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(178,178,178,.52);
}
.login-links a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 24px;
  color: #323232;
}
.login-button {
  margin-left: 15px;
  padding: 10px 25px;
}
.account-list {
  margin: 0;
  padding: 0;
  margin-right: 20px;
  padding-bottom: 0px;
}
.account-list li {
  padding-bottom: 0;
}
.login-item:hover .login-menu,
.login-item:focus .login-menu,
.login-item:focus-within .login-menu {
  display: block;
}
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  background-color: rgba(255,255,255,.2);
  margin-top: 0;
}
.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }
.cart:hover::before,
.cart:focus::before {
  background-image: url("../img/cart-icon-black.svg");
}
a.cart-current {
  text-decoration: none;
}
.cart-current {
  background-color: #ffffff;  
 }
.cart-current::before,
.cart-current:hover::before,
.cart-current:focus::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-icon-full.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }
.cart-current-item:hover .cart-list,
.cart-current-item:focus .cart-list,
.cart-current-item:focus-within .cart-list {
  display: block;
}
.cart-list {
  position: absolute;
  display: none;
  left: -409px;
  top: 40px;
  width: 490px;
  min-height: 240px;
  padding: 15px 15px 0px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,.4);
          box-shadow: 0 20px 20px rgba(0,0,0,.4);
  z-index: 16;
  overflow: hidden;
}
.cart-table {
  width: 100%;
  padding-left: 90px;
  padding-top: 10px;
}
.table-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.table-item td {
  padding-bottom: 30px;
  padding-right: 5px;
  vertical-align: text-top;
}
.delete-item {
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  left: 24px;
  cursor: pointer;
}
.delete-item:before {
  content: "";
  position: absolute;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 12px;
  width: 12px;
  top: 0px;
  left: 0;
}
.table-item:before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  left: 52px;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 50%;
}
.ti-1:before {
  top: 20px;
  background-image: url(../img/orange-ice-cream-small.jpg);
}
.ti-2:before {
  top: 70px;
  background-image: url(../img/srawberry-ice-cream-small.jpg);
}
.table-price {
  color: #9f9f9f;
}
.item-name {
  width: 230px;
  padding-right: 10px;
}
.cart-table a {
  text-decoration: none;
}
.cart-total {
  text-align: right;
  position: relative;
}
.cart-total:before {
  content: "";
  position: absolute;
  width: 480px;
  height: 1px;
  left: 7px;
  top: -15px;
  background-color: #cacac7;
}
.order-button {
  width: 170px;
  margin-top: 5px;
  margin-left: 320px;
  padding: 10px;
}
.information {
  text-align: left;
  border-radius: 15px;
  margin-bottom: 40px;
}
.information h1 {
  padding: 20px 20px 10px;
  max-width: 89%;
}
.information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.information-item {
  position: relative;
  -ms-flex-preferred-size: 480px;
      flex-basis: 480px;
  margin-bottom: 30px;
}
.information-list .information-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: -56px;
  top: -14px;
}
.information-list .item-1::before {
  background-image: url("../img/ice-cream-icon.svg");
}
.information-list .item-2::before {
  background-image: url("../img/cow.svg");
}
.information-list .item-3::before {
  background-image: url("../img/leaf.svg");
}
.information-list .item-4::before {
  background-image: url("../img/thermometer.svg");
}
.promo {
  margin-top: 40px;
}
.promo-item {
  position: relative;
  min-height: 230px;
}
.promo-title {
  margin: 20px;
  padding: 0;
}
.promo-offer {
  margin: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  max-width: 515px;
}
.title-font {
  font-size: 35px;
  line-height: 41px;
}
.raspberry-for-free {
  background-color: #560218;
  background-repeat: no-repeat;
  background-image: url("../img/raspberry-bg.jpg");
}
.chocolate-for-free {
  background-color: #4d2c16;
  background-repeat: no-repeat;
  background-image: url("../img/chocolate-bg.jpg");
}
.cc-button {
  position: absolute;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  top: 165px;
}
.button-left {
  left: 365px;
}
.button-right {
  left: 339px;
}
.bestseller {
  position: relative;
}
.bestseller:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 61px;
  height: 61px;
  background-image: url(../img/best-mark.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.customer-capture {
  margin-bottom: 40px;
  min-height: 220px;
}
.customer-capture-item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}
.blog {
  padding-left: 25px;
  padding-top: 7px;
}
.blog h2 {
  max-width: 285px;
  margin-top: 14px;
}
.blog a {
  text-decoration: underline;
}
.base {
  width: 92.5%;
  margin: 5px auto;
  padding: 2px 15px 30px 20px;
  position: relative;
  background-color: #f8f7f4;
}
.emailing {
  background-color: #f8f7f4;
  background-repeat: no-repeat;
  background-image: url("../img/e-mailing-background.svg");
}
.emailing-forma input {
  width: 72%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  margin-right: 0;
  padding: 10px 13px;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: top;
}
.subscribe-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 128px;
  margin-top: 17px;
  margin-left: 10px;
  padding: 10px 20px;
  vertical-align: top;
}
.inner {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 60px;
}
.card {
  border: 1px solid #eee;
  border-radius: 10px;
  display: inline-block;
  background: #fff;
  z-index: 2;
  padding: 30px 20px;
}
.map {
  position: relative;
  padding-bottom: 100px;
}
.map-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.google-map {
  width: 100%;
  z-index: 1;
  top: 0;
}
.small-letters {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 20px;
}
.big-letters {
  font-size: 18px;
  line-height: 24px;
}
.feedback-button {
  padding: 10px 25px;
  width: 100%;
}
.footer {
  position: relative;
  margin-top: 35px;
}
.footer-catalog::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #a9bbb1;
  top: -10px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -38px;
}
.social-button {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
  width: 32px;
  height: 32px;
}
.twitter {
  background-image: url("../img/twitter-icon.svg");
}
.instagram {
  background-image: url("../img/insta-icon.svg");
}
.facebook {
  background-image: url("../img/facebook-icon.svg");
}
.vk {
  background-image: url("../img/vk-icon.svg");
}
.social-button:hover,
.social-button:focus {
  opacity: 1;
}
.social-button:active {
  border-color: #dae2de;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.4);
          box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.4);
}
.footer-legal {
  max-width: 315px;
  margin-top: 12px;
}
.footer-info-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.eco-stnd {
  padding-left: 10px;
}
.footer-info-item {
  position: relative;
  padding-right: 20px;
}
.heart::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer-copyright {
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
}
.footer-copyright p {
  margin-top: 0px;
}
/* Каталог */
.page-top-content {
  margin-bottom: 10px;
}
.breadcrumbs {
  padding: 0;
  margin: 0;
 }
.breadcrumbs-current {
  margin-top: 1px;
 }
.page-list-item {
  margin-right: 20px;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.filter {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-item {
  margin:0;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  border: none;
}
.filter-item legend {
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 5px;
}
.sort-by {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  padding: 10px 45px 10px 15px;
  border-radius: 30px;
  border: 0;
  background-color: #aabbb1;
  color: #ffffff;
  background-image: url(../img/icon-down-dir-white.svg);
  background-repeat: no-repeat;
  background-position: 175px 15px;
}
.sort-by::-ms-expand { 
  display: none; 
}
.sort-by .option {
  background-color: #ffffff;
  color: #323232;
}
.sort-by:hover,
.sort-by:focus {
  background-color: #ffffff;
  color: #323232;
  background-image: url(../img/icon-down-dir.svg);
}
.range-controls {
  position: relative;
  min-width: 200px;
  height: 20px;
  padding: 10px;
  background-color: #aabbb1;
  border-radius: 30px;
}
.range-controls .scale {
  height: 5px;
  background: #d1dad3;
  width: 90%;
  position: absolute;
  padding-top: -4px;
  top: 16px;
}
.range-controls .bar {
  width: 50%;
  height: 5px;
  background: #f8f7f4;
  margin-left: 20px;
}
.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 30px;
}
.range-controls .toggle-max {
  left: 130px;
}
.filter-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #aabbb1;
  border-radius: 30px;
  padding: 11px 15px;
}
.filter-form input[type=checkbox],
.filter-form input[type=radio] {
  display: none;
}
.fat-item {
  padding-left: 40px;
}
.fillers-item {
  padding-left: 50px;
}
.filter-option:last-child {
  padding-right: 15px;
}
.filter-option label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  left: -30px;
  top: -3px;
  opacity: 0.8;
}
.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  left: -30px;
  top: -3px;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left: -32px;
  top: -1px;
  opacity: 0.8;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;  
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  left: -32px;
  top: -1px;
  opacity: 0.8;
}
.filter-input-checkbox:hover + label::before,
.filter-input-radio:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}
.apply-button {
  padding: 8px 25px;
  margin-top: 20px;
  border: 2px solid #ffffff;
  background-color: #a6b7ae;
  color: #ffffff;
  cursor: pointer;
}
.apply-button:hover,
.apply-button:focus {
  background-color: #ffffff;
  color: #323232;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.apply-button:active {
  background-color: #ffffff;
  color: #323232;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.catalog-main-title {
  margin-bottom: 35px;
}
.catalog-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pic-ice-cream {
  width: 267px;
  height: 267px;
  margin-bottom: 5px;
  border-radius: 50%;
  z-index: 10;
}
.price {
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  position: absolute;
  top: 168px;
  z-index: 2;
}
.fast-view {
  display: none;
  position: absolute;
  width: 200px;
  padding: 9px 10px;
  z-index: 3;
  left: 40px;
  border-radius: 45px;
  top: 345px;
}
.catalog-item {
  -ms-flex-preferred-size: 265px;
      flex-basis: 265px;
  min-height: 355px;
  position: relative;
  padding: 10px 10px 40px;
  margin-bottom: -55px;
  z-index: 10;
}
.catalog-item:hover,
.catalog-item:focus {
  position: relative;
  z-index: 11;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.catalog-item:hover > .fast-view,
.catalog-item:focus > .fast-view {
  display: block;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.pagination-list {
  position: relative;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.pagination-item {
  margin-right: 10px;
  margin-top: 85px;
}
.pagination-item:last-child {
  margin-right: 20px;
}
.pagination-item a {
  /*display: block;*/
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
}
.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #9db1a5;
  border-radius: 50%;
}
.pagination-item a:active,
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
}
.pagination-item .disabled:hover,
.pagination-item .next:hover,
.pagination-item .disabled:focus,
.pagination-item .next:focus {
  background-color: transparent;
}
.previous,
.next {
  font-size: 0;
  position: relative;
}
.previous::before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  bottom: 5px;
  left: 5px;
  color: #9db1a5;
  width: 8px;
  height: 15px;
}
.next::after {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-right.png);
  background-repeat: no-repeat;
  bottom: 5px;
  left: 5px;
  color: #9db1a5;
  width: 8px;
  height: 15px;
}
.feedback {
  display: none;
  z-index: 13;
  position: fixed;
  color: #000000;
  background-color: #f8f7f4;
  width: 475px;
  padding: 20px 25px 25px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  border-radius: 10px;
}
@-webkit-keyframes opening {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes opening {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.feedback-show {
  display: block;
  -webkit-animation-name: opening;
          animation-name: opening;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
@-webkit-keyframes error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.feedback-error {
  -webkit-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  border: 0;
  left: 490px;
  top: 15px;
  cursor: pointer;
}
.feedback-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
.input-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 55%;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 10px 13px;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: top;
}
.long-field {
  width: 98%;
}
.send-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  margin-left: 325px;
  padding: 10px 20px;
  vertical-align: top;
}
.overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 96, 148,.3);
  z-index: 1;
  font-size: 0;
}
.overlay-show {
  display: block;
}