body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #98ada1;
}
.visually-hidden {
	color: black;
}
a{
	color: #ffffff;
}
a:hover,
a:focus {
	color: #e84d37;
}
.popup {
	display: none;
}
.navigation {
	font-weight: 700;
	line-height: 18px;
}

.site-navigation,
.user-navigation,
.catalog-menu {
	list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #323232;
	background-color: #f7f6f3;
}
.site-navigation-item {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.user-navigation-item {
	background-color: #a0b5a9;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.site-navigation-current {
	color: #ffffff;
	background-color: #d07058;
}
.cart-current {
    color: #343434;
    background-color: #f7f6f3;
}
.working-hours{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}
.telephone-number {
	font-size: 22px;
	line-height: 24x;
	font-weight: 700;
}
.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	list-style: none;
}
.catalog-main-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}
.information {
	background-color: #f5e9d4;
    background-image: url("../img/waffle-background.jpg");
    background-position: center;
    background-repeat: repeat;
}
.information-list {
	list-style: none;
}
.text-title {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
}
.blog-title {
	font-weight: 700;
}
.info {
	font-weight: 500;
}
.information-item,
.new-in-blog {
	color: #323232;
}
.new-in-blog{
	font-weight: medium;
}
.blog {
	background-color: #ffffff;
	background-image: url("../img/strawberry-background.jpg");
	background-position: 0 0;
    background-repeat: no-repeat;
}
.emailing {
	background-color: #f8f7f4;
	background-image: url("../img/e-mailing-background.svg");
	background-repeat: no-repeat;
}
.base {
	background-color: #f8f7f4;
	margin: 10px;

}
.sweet-mailout {
	color: #5a5a5a;
}
.emailing-form{
	font:inherit;
	border: 1px solid #d3d3d2;
	background-color: #ffffff;
}
input:hover {
	border: 2px solid #c7c6c5;
}
input:focus {
	border: 2px solid #8fbdec;
}
.button {
	color: #fefefe;
	background-color: #f06441;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	border: none;
}
.button:hover {
	background-color:#f27f65;
}
.catalog-list {
	list-style: none;
}
.price {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-align: left;
}
span {
	font-size: 22.5px;
	line-height: 25px;
	font-weight: 700;
}
.catalog-item-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: medium;
	text-align: center;
}
.footer-info-list,
.footer-social {
	list-style: none;
}
.footer-info-item {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
.strong {
	font-weight: 700;
}
.footer-copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}


